// Переменные проекта
:root {
  --bg-color-black: rgb(0, 0, 0);
  --bg-color-grey: rgb(240, 240, 240);
  --bg-color-footer: rgb(17, 17, 17);

  --text-color-first: rgb(255, 255, 255);
  --text-color-second: rgb(175, 175, 175);
  --text-color-placeholder: rgb(78, 78, 78);

  --decor-color-first: rgb(4, 145, 206);
  --decor-color-second: rgb(255, 111, 22);

  --transition: ease-in-out .3s;
}